
@{
    ViewData["Title"] = "PostRequest";
}

<h1>PostRequest</h1>


<form action="https://www.bilgeadam.com/Customer/Insert" method="post">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" value="" />
    </div>

    <div>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" value="" />
    </div>

    <div>
        <button>Gönder</button>
    </div>
</form>