
@{
    ViewData["Title"] = "StokAzalt";
}

<h1>StokAzalt</h1>

<div class="justify-content-center">
    <p class="text-danger">Satılan Ürün Bilgileri</p>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Ürün Fiyatı</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.UrunID</td>
            <td>@ViewBag.UrunAdi</td>
            <td>@ViewBag.UrunFiyati</td>
        </tr>
    </tbody>
</table>