
@{
    ViewData["Title"] = "UrunSat";
}

<h1>UrunSat</h1>

<form method="post">
    <div>
        <label>Ürün ID</label>
        <input type="text" name="urunID" value=""/>
    </div>

    <div>
        <label>Ürün Adı</label>
        <input type="text" name="urunAdi" value=""/>
    </div>
    <div>
        <label>Birim Fiyatı</label>
        <input type="text" name="birimFiyati" value=""/>
    </div>
    <div>
        <input type="submit" class="btn btn-outline-success" value="ID Gönder"/>
    </div>

</form>