@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<form method="post">
    <input type="text" name="txtBilgi"/>
    <input type="submit" name="btnPostEt" class="btn btn-info" value="Post Et"/>
</form>

<hr />
<p><b>@ViewBag.Bilgi</b></p>